
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files.
    // THIS IS INSECURE if you store sensitive data.
    // For this sample app, profile pictures are public.
    // In a real app, you would restrict this.
    match /{allPaths=**} {
      allow read: if true;
    }
  }
}

    